.App {
  text-align: center;
}

@media only screen and (min-width: 550px) and (max-width: 1089px) {
  table {
    margin: 5px
  }
}

@media only screen and (min-width: 1089px) {
  table {
    margin: 10px
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  flex-wrap: wrap;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

td.column {
  vertical-align:top
}

td.value {
  text-align: right
}

td.allocation {
  text-align: center;
  display: inline-block;
}

thead {
  font-size: 12pt
}

span.slash {
  font-size: 24pt;
}

.editButton {
  margin-left: 40px;
}

input[type="checkbox"] {
  display: none;
}

.year {
  padding-left: 5px;
  padding-right: 5px;
  border:1px dotted #6F7378
  ;
}

:checked + span {
  background:lightseagreen;
}